.gitBody{
    margin-top: 40px;
}

.nav-container{
    background-color: #2f3d46 !important;
}
.navbar{
    height:65px !important;
    
}
.bg-body-tertiary {
    --bs-bg-opacity: ;
    background-color: #2f3d46 !important;
}
a i{
    color: #fffefb;
    width: 36px;
    font-size: 36px;
    display: flex;
    align-items: center;
}
.brand-name{
    position: absolute;
    left: 50%;
    margin-left: -50px !important; 
    display: block;
    color: #dce7ea;
    font-size:19px;
    letter-spacing: 1px;
}
.bg-color{
    background-color: #cad2c5;
    height: 460px;
    padding-top: 35px;
    padding-left: 47px !important;
}
.sidebar{
    background-color: #353535;
    height: 380px;
    width:210px !important;
    border-radius: 20px;
}

.side-content{
    margin-left: 40px !important;
    text-align: center;
   
}
.side-content button{
    width: 382px;
    background-color:#353535 ;
    padding: 5px 10px 5px 15px;
    color: #9a9a9a;
    text-align: left;
    border-radius: 7px;
    border: 0px;
    margin-bottom: 47px;
    font-weight: 500;
    letter-spacing: 1px;
}
.content{
    background-color:#353535;
    margin: 0px 33px;
    height: 120px;
    border-radius: 15px;
}
.bor-siz{
    margin-top: 47px !important;
    margin: 0px auto;

}

@media (min-width: 320px) and (max-width:768px) {
    .sidebar {
        width: 210px !important;
        margin: 0px auto;
    }

    .side-content {
        margin-left: 20px !important;
    }
    .container, .container-sm {
        max-width: 100%;
    }
    .bg-color{
        height: 100%;
    }
    .side-content{
        text-align: left;
        margin-left: 0px;
    }
    .side-content button {

        width:90%;
        margin:30px 0px;
    }
    .row {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
        margin: 0px auto;
    }
    .content {
        margin: 30px 0px;
    }

    .bor-siz {
    margin-top: 0px !important;
    margin: 0px auto;
    }
}
